body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}

.app {
  padding: 20px;
}

.board {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.column {
  flex: 1;
  background: rgba(255,255,255,0.05);
  padding: 15px;
  border-radius: 10px;
}

.task-card {
  background: rgba(255,255,255,0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.task-form input,
.task-form select,
.task-form button,
.filters select {
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.task-form button {
  background: #3b82f6;
  color: white;
}

.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.stat-card {
  background: rgba(255,255,255,0.1);
  padding: 10px 20px;
  border-radius: 8px;
}

.green { background: #16a34a; }
.orange { background: #f97316; }

.priority.High { color: red; }
.priority.Medium { color: orange; }
.priority.Low { color: lightgreen; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h1 {
  margin: 0;
  font-size: 26px;
}

.subtitle {
  font-size: 14px;
  color: #cbd5e1;
  margin-top: 5px;
}

.date-box {
  background: rgba(255,255,255,0.1);
  padding: 8px 15px;
  border-radius: 8px;
}


.progress-container {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.05);
  padding: 15px;
  border-radius: 10px;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
}

.progress-bar {
  height: 10px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background: linear-gradient(90deg, #3b82f6, #22c55e);
  transition: width 0.4s ease-in-out;
}


.layout {
  display: flex;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
}



.sidebar {
  width: 240px;
  background: rgba(255,255,255,0.05);
  padding: 20px;
  border-right: 1px solid rgba(255,255,255,0.1);
}

.sidebar h2 {
  margin-bottom: 20px;
}

.add-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(90deg, #3b82f6, #22c55e);
  border: none;
  border-radius: 8px;
  color: white;
  margin-bottom: 25px;
  cursor: pointer;
}

.sidebar-section p {
  padding: 8px 0;
  cursor: pointer;
  color: #cbd5e1;
}

.sidebar-section p:hover {
  color: white;
}


.main {
  flex: 1;
  padding: 30px;
}



.board {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

